# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Node module
node_modules/
dist/
dist-ssr/
*.local

# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
ENV/
env/
venv/
*.sqlite3

# Env
.env

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

.claude/*
.islstudio/*
.vibecheck/*
.claude
.islstudio
.vibecheck

workflows/*


# Test / Dump files
*.har
.env-vps
docker-compose-vps.yaml
